<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
    <form class="container" th:action="@{/app/login}" method="post">
        <div class="row justify-content-center pt-5 mt-5">
            <div class="col-5">
                <div class="input-group mb-5">
                    <input type="text" class="form-control border-start-0 fs-5" id="username" name="username" placeholder="Username" aria-label="Username" aria-describedby="username">
                </div>
                <div class="input-group mb-5">
                    <input type="password" class="form-control border-start-0 fs-5" id="password" name="password" placeholder="Password" aria-label="Password" aria-describedby="password">
                </div>
                <div class="row justify-content-center mt-5 mb-3">
                    <button type="submit" class="col-5 btn btn-primary fs-5">Login</button>
                </div>
                <p th:if="${param.error}" class="alert alert-danger text-center mt-5">Invalid username and password</p>
                <p th:if="${param.logout}" class="alert alert-success text-center mt-5">Logout successful</p>
            </div>
        </div>
    </form>
</body>
</html>